@import url('https://fonts.googleapis.com/css?family=Poppins');


.first-section{
    display:flex;
}
.auth-h1{
    color:#F83487;
    padding-bottom: 30px;
}

  .second-sections {
    color:white;
    display:flex;
    align-items: center;
    text-align: center;
    font-family: poppins;
    justify-content: center;
    position: relative;
    background-color: #F83487;
    width:100%;
    height:700px;
    box-sizing: border-box;
    background: black;
    box-shadow: 14px 14px 20px #F83487;
  }
  .third-section{
     width:400px;
      background-color: lightgray;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('koreartcat3.png');
      background-position: center;
      display: block;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  
  label, input, button, textarea {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  /* Color the LINK!!!!*/
.create-link{
  color: #F83487;
}

.create-link:hover{
  color: #F83487;
}

.create-link:visited{
  color: #F83487;
}


  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: black;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    font-family: poppins;
    color:#F83487;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #F83487, inset -1px -1px 1px black;
  }

  input::placeholder {
    color: gray;
  }

  textarea{
    background: black;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    font-family: poppins;
    color:#F83487;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #F83487, inset -1px -1px 1px black;

  }

  .btn-login {
    font-family: poppins;
    margin-top: 20px;
    background: #F83487;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px black, -6px -6px 6px black;
    transition: 0.5s;
  }
  
 .btn-login:hover {
    box-shadow: none;
  }



